* {
    margin: 0;
    padding: 0;
    /* border: 0.5px solid black; */
}

.content>* {
    display: flex;
    justify-content: center;
}

body {
    background: #f8fcff;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px 0 100px;
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 0 30px;
    }

}

header .container>div {
    display: flex;
    justify-content: space-between;
}

header {
    margin-top: 30px;
}

.header-text {
    margin: 48px 0 40px;

}

.header-left {
    padding-top: 60px;
    flex: 3;
    /* background: url(/images/shado.png) transparent no-repeat left;
    background-size: 115%;
    border-radius: 80px; */
}

.header-right {
    background: url(/images/header_card.jpg) transparent no-repeat center;
    background-size: contain;
    flex: 4;
}

.top-button {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 60px;
    cursor: pointer;
}

.top-button:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '→';
    background: black;
    color: white;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.trigger_fire {
    background: url(/images/fire.png) transparent no-repeat center;
    background-size: contain;
    width: 35px;
    height: 35px;
    display: inline-block;
}

.trigger_icon {
    background: url(/images/icon.png) transparent no-repeat center;
    background-size: contain;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-bottom: 15px;
}

.trigger-fire-bold {
    font-size: 30px;
}

.triggers>div {
    margin-right: 10px;
}

.triggers>div:last-child {
    margin-right: 0;
}

.triggers .bold,
.triggers .medium {
    margin-bottom: 30px;
    display: inline-block;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff73;

}

.modal {
    border-radius: 20px;
    padding: 20px;
    max-width: 500px;
    max-height: 400px;
    background: white;
    box-shadow: 0 0 50px -10px black;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.modal h2 {
    margin-bottom: 20px;
}

.modal input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 50px;
    margin-bottom: 15px;
    width: 100%;
}

.modal input[type=submit] {
    border: none;
    outline: none;
    height: 50px;
    box-shadow: inset 0 0 4px -2px black;
    margin-top: 15px;
    background: white;
    border-radius: 8px;
    padding: 16px;
}